.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: image-set('val1.jfif');
}

h1 {
  color: #e60073;
}

form {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 20px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #e60073;
  color: #fff;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  font-size: 18px;
}

body {
        background-image: url('val1.jfif');
}
      
